[worldserver]

###################################################################################################
#
# 	EverQuest.Enabled
#		Enable/Disables the mod as a whole, overriding any other property or setting
#	Default: True (enabled)
#
###################################################################################################

EverQuest.Enabled = True

###################################################################################################
#
# 	EverQuest.Map.RestrictPlayersToNorrath
#		Enable/Disable force keeping players in norrath. Doesn't apply to GM accounts
#	Default: False (disabled, characters can move between Norrath and Azeroth)
#
###################################################################################################

EverQuest.Map.RestrictPlayersToNorrath = False

###################################################################################################
#
# 	EverQuest.Quest.GrantExpOnRepeatCompletion
#		If true, repeat quests will give exp like the first did. This is EQ-like, but not WOW-like
#       NOTE: This will only impact EverQuest IDs (range defined in this config)
#	Default: True (enabled, you get exp for repeat turnins)
#
###################################################################################################

EverQuest.Quest.GrantExpOnRepeatCompletion = True

###################################################################################################
# EXP Loss on Death Settings
#
# 	EverQuest.ExpLossOnDeath.Enabled
#		If true, you will lose experience when you release your spirit on death.  Reviving before
#        release will not cause exp loss.  Settings in this section depend on this being true.
#       NOTE: You will only lose exp if you are in a Norrath / EverQuest map
#	Default: True (enabled, lose exp when you release your body after death, if in EverQuest areas)
#
# 	EverQuest.ExpLossOnDeath.MinLevel
#		Minimum level the player needs to be before they begin losing experience
#	Default: 5 (players 4 and under do not lose exp on death release)
#
# 	EverQuest.ExpLossOnDeath.LossPercent
#		Amount of experience to lose on death (0 - 100)
#	Default: 10 (10% of experience is lost on death)
#
# 	EverQuest.ExpLossOnDeath.AddLostExpToRestExp
#		If true, experience lost will be added to rest experience.  This allows the player to not
#        lose net progress as long as they don't overfill their rest experience bar
#	Default: True (enabled, experience lost is put into rest experience)
#
###################################################################################################

EverQuest.ExpLossOnDeath.Enabled = True
EverQuest.ExpLossOnDeath.MinLevel = 5
EverQuest.ExpLossOnDeath.LossPercent = 10
EverQuest.ExpLossOnDeath.AddLostExpToRestExp = True

###################################################################################################
#
# 	EverQuest.AlternateGroupExperienceFormula.Enabled
#		If true, exp granted while in a group will be different based on AddPercentPerMember
#	Default: False (group exp is reduced like a live server)
#
# 	EverQuest.AlternateGroupExperienceFormula.AddPercentPerMember
#		When enabled, this is how much bonus experience to grant each party member based on
#       number in the group beyond 1.  For example, 20% would mean that if 3 party members are in the
#       group then exp per member would be "(CreatureKillEXPReward / 3) + ((3 - 1) * 0.2"
#	Default: 20 (Matches EQ's 20% per member bonus in 2003)
#
###################################################################################################

EverQuest.AlternateGroupExperienceFormula.Enabled = False
EverQuest.AlternateGroupExperienceFormula.AddPercentPerMember = 20

###################################################################################################
#
# 	EverQuest.Spells.DisableStackingOfSameDOT
#		If true, spells that apply the same dot will not stack, which is EQ-like
#	Default: False (use WoW behavior)
#
###################################################################################################

EverQuest.Spells.DisableStackingOfSameDOT = False

###################################################################################################
#
# 	EverQuest.CombatSkills.DisableBashKickStunOnPlayers
#		If true, the stun part of Bash/Kick/Slam combat skills will never land on player targets.
#	Default: False (players can be stunned by these combat skills)
#
###################################################################################################

EverQuest.CombatSkills.DisableBashKickStunOnPlayers = False

###################################################################################################
#
# 	EverQuest.ShowClassMessageOnLogin
#		If true, a chat message describing the player's primary (and secondary) EQ class is shown
#		on login.
#	Default: False (no class message on login)
#
###################################################################################################

EverQuest.ShowClassMessageOnLogin = False

###################################################################################################
#
# 	EverQuest.CrossClass.IncludeSkillIDs
#		Comma delimited list of skill IDs that remain when you switch eq classes
#	Default: list is related to professions, flying, pick lock, ...
#
###################################################################################################

EverQuest.CrossClass.IncludeSkillIDs = 129, 164, 165, 171, 182, 185, 186, 197, 202, 333, 356, 393, 633, 755, 762, 773